<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script defer src="{{ url_for('static', filename='script.js') }}"></script>
        <title>ModelBindingInSeparateModel - Backend2</title>
    </head>
    <body>
        <header>
            <div class="header">Backend2</div>
            <div class="home" ><a class ="home" href = "/">Home</a></div>
        </header>
        <div class="content">
            <div class="page_head">ModelBindingInSeparateModel</div>
            <div class="block">
                <input type="number" class="first_input">
                <select name="sign" class="sign">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <input type="number" class=" second_input">
                <button class="submit">Submit</button>
            </div>
        </div>
        <div class="line"></div>
        <footer>© 2018 - Backend2</footer>
    </body>
</html>